.img1{
    position: fixed;
    right:750px;
    top:150px;
}
.imgplayer1{
    position: fixed;
    right:700px;
    top:100px;
}
.button1{
    position: flxed;
    left: 500px;;
    top: 415px;
}
.gk1{
    font-size: 16px;
}